* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

ul, li {
    list-style-type: none;
}

.App {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 0;
}

.menu {}
.menu__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu__item {}
.menu__item a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    color: teal;
}
.menu__item a:hover {
    border-color: teal;
}

.post {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid teal;
    margin-bottom: 20px;
}
.post:last-child {
    margin-bottom: 0;
}

.post__contents {}


.post__btns {}

/* animations */
.post-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.post-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 500ms ease-in;
}


